.boardRow {
  padding-bottom: 12px;
}

.boardContainer {
  background-color: black;
  padding: 16px;
}

.bodyContainer {
  padding-top: 24px;
  height: 100vh;
  background-image: linear-gradient(to bottom right, blue, white);
}

.spinner {
  height: 200px;
  width: 200px;
  margin-top: 200px;
}
